.u-section-1 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 54px auto 0 -71px;
}

.u-section-1 .u-group-1 {
  width: 508px;
  min-height: 680px;
  height: auto;
  margin: -526px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-text-1 {
  line-height: 52.8px;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 59px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 343px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-image-1 {
    width: 587px;
    height: 544px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -485px;
    margin-bottom: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-1 .u-image-1 {
    height: 485px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 418px;
    margin-top: 20px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-image-1 {
    height: 346px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-1 .u-image-1 {
    height: 234px;
    margin-top: 76px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 720px;
    margin-top: 11px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}